body {
    background-color: rgb(255, 192, 231);
    text-align: center;
    padding: 50px white;

}

.card {
    width: 400px;
  background: rgb(255, 225, 242);
  margin: auto;
  padding: 8px;
  border-radius: 10px;

}

h1 {
    font-size: xx-large;
    font-weight: bold;
    font-family: cursive;
    color: rgb(185, 55, 124);
    
}

a { 
     color: blueviolet;
     font-size: large;
}